<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <MailParser.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value>emailParser1</value>
            </setting>
            <setting name="MqttApplicationName" serializeAs="String">
                <value>partalarm2</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>3.36.16.125</value>
            </setting>
            <setting name="CurrentEands" serializeAs="String">
                <value>eanon.bin</value>
            </setting>
        </MailParser.Properties.Settings>
    </applicationSettings>
</configuration>